  body, html {
    margin: 0;
    font-size: 20px;
    background: #5f2c82;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 200;
    color: #4AB794;
  }

  form {
    padding: 20px 0;
  }

  *::-webkit-input-placeholder {
    color: #B084CE;
  }

  input, select, textarea {
    display: block;
    border: none;
    width: 300px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: white;
    font-weight: 300;
    color: #983FD0;
    font-family: 'Open Sans', sans-serif;
  }

  button {
    color: #cfcedd;
    background-color: #2E298F;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }

  hr {
    border-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .error {
    color: #ECD460;
    margin-bottom: 10px;
    font-weight: 600;
  }

  #bgwhite {
      position:absolute;
      left:0;
      top:0;
      background: white;
      width:100%;
      height:100%;
  }

  #forgotPassword, #forgotPasswordRegister {
    font-size: 16px;
    margin: 10px;
  }

  #forgotPassword a, #forgotPasswordRegister a {
    color: #4AB794;
    font-size: 16px;
    margin-top: 10px;
  }

  #back a, #noAccountBack a {
    cursor: pointer;
    text-decoration: underline;
    color: #4AB794;
    font-size: 16px;
  }

  #sendingImg, #sendingImgReset, #sendingWord {
    margin-bottom: 20px;
  }
  /*
  ADVICE WINDOW
  */

  .bg {
    height: 100%;
    width: 100%;
    position: relative;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .left {
    float: left;
    display: inline-block;
  }

  .right {
    float: right;
    display: inline-block;
  }

  #logout, #welcomeUser {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
  }

  #logout {
    cursor: pointer;
    text-decoration: underline;
  }

  #confirmEmail p {
    padding-top: 10px;
  }

  #activateOverlay, #disableOverlay {
    text-align: right;
    position: relative;
    cursor: pointer;
  }

  #activateOverlay::before, #disableOverlay::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
  }

  #edit {
    position: relative;
    padding-top: 0.9em;
    padding-right: 0.95em;
    font-weight: 900;
    font-family: 'Gochi Hand', cursive;
  }

  #adviceSize {
    width: 80%;
    margin: 0 auto;
  }

  #advice {
    font-size: 100px;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 2px 2px #000000;
    padding-top: 250px;
    color: white;
    line-height: 60px;
  }
  /*
  EDIT ADVICE
  */

  #addAdvice {
    margin-bottom: 30px;
  }

  #adviceSend {
    width: 800px;
  }

  #categorySend, #prioritySend {
    display: inline-block;
    width: 397px;
  }

  #addAdviceSend {
    display: block;
    margin: 0 auto;
  }

  #or {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .cursor {
    cursor: pointer;
    font-style: italic;
  }

  #addCategory {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  #newCategory {
    background-color: rgba(95, 44, 130, 0.49);
    color: white;
  }

  #newCategory::placeholder {
    color: white;
  }

  #closeNewCat {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
  }

  #showAdvice {
    width: 80%;
    margin: 0 auto;
    color: #020f0f;
  }

  .blue {
    color: #B3ECEB;
    min-width: 400px;
  }

  #saveSuccess {
    margin-top: 50px;
    font-weight: 600;
    color: #ECD460;
  }

  #saveSuccess p {
    font-size: 26px;
  }

  div {
    text-align: center;
  }

  h3 {
    color: #cfcedd;
    margin-top: 20px;
    font-weight: 600;
  }

  tr {
    border-bottom: 1pt solid black;
  }

  td {
    padding: 10px !important;
    padding-right: 15px !important;
    line-height: 25px;
  }

  .hide {
    display: none;
  }

  .show {
    display: none;
  }

  .pop {
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: default;
    display: none;
    margin: 15px auto;
    text-align: center;
    width: 394px;
    z-index: 50;
    padding: 25px 25px 20px;
  }

  #transp {
      position:absolute;
      left:0;
      top:0;
      background: rgba(255,255,255,.5);
      width:100%;
      height:100%;
  }

  #transp p {
    margin-top: 40%;
    font-size: 100px;
    color: #5f2c82;
  }
